<div class = "container">
    <div class="row">
        <div class="col-md-6">
            
            <form name="form" #f="ngForm" (ngSubmit)="sendFeedback()" novalidate class="feedback-form">
                <!-- folderToIndex-->
                <div class="form-group">
                    <label for="name">Absolute path of folder in the backend server to index : </label>
                    <input type="text"
                           id="name"
                           class="form-control"
                           name="name"
                           placeholder="Folder to index" [(ngModel)]="model.folderToIndex"/>
                </div>

                <!-- folderCIndex-->
                <div class="form-group">
                    <label for="email">Absolute path of folder in the backend server that will contain index : </label>
                    <input type="text"
                           id="email"
                           class="form-control"
                           name="email"
                           placeholder="Destination folder path" [(ngModel)]="model.folderCIndex"/>
                </div>

                <!-- pathTxtFile-->
                <div class="form-group">
                    <label for="feedback">Absolute path of stopwords file in the backend server : </label>
                    <input type="text"
                           id="feedback"
                           class="form-control"
                           name="feedback"
                           placeholder="Stop words file" [(ngModel)]="model.pathTxtFile"/>
                </div>

                <button type="submit" class="btn btn-info pull-right">
                    <i class="fa fa-envelope-o"></i>
                    <span> Start Indexing</span>
                </button>
            </form>
        </div>
    
        <!-- Show the result of fileStats here -->
    </div>
</div>