<div class = "container">
        <div class="row">
            <div class="col-md-6">
                
                <form name="form" #f="ngForm" (ngSubmit)="sendKeywordToBackEnd()" novalidate class="feedback-form">
                    <!-- folderToIndex-->
                    <div class="form-group">
                        <label for="name">Enter the keyword to search in all the indexed folders : </label>
                        <input type="text"
                               id="name"
                               class="form-control"
                               name="name"
                               placeholder="Folder to index" [(ngModel)]="model.keywordToSearch"/>
                    </div>
    
                    
    
                    <button type="submit" class="btn btn-info pull-right" style="text-align:center"  >   
                        <i class="fa fa-envelope-o"></i>
                        <span> Show Search Results </span>
                    </button>
                </form>
            </div>
            <div *ngIf="show==true">
                    <h3>
                        <table>
                           <thead>
                              <tr>
                                 <th>#AbolutePath</th>
                                 <th>Frequency</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr  *ngFor = "let dir of records">
                                 <th>{{dir.absolutePath}}</th>
                                 <th>{{dir.freq}}</th>
                              </tr>
                           </tbody>
                        </table>
                    </h3>
            </div>
        </div>
    </div>