<h1>{{indexFolder}}</h1>


<div>
    <h3>
        <table>
            <thead>
                  <tr>
                     <th>#File Name</th>
                     <th>Absolute Path</th>
                     <th>Parent Folder</th>
                     <th>FileSize</th>
                     <th>Creation Date</th>
                     <th>Last Modified Date</th>
                     <th>No. of Chars</th>
                     <th>No. of Words</th>
                     <th>No. of Lines</th>
                 </tr>
            </thead>
            <tbody>
                  <tr  *ngFor = "let dir of records">
                     <th>{{dir.fileName}}</th>
                     <th>{{dir.absolutePath}}</th>
                     <th>{{dir.parentFolder}}</th>
                     <div *ngIf="dir.isDirectoryType==true">
                        <td>
                                <button type="button" [routerLink]="['/folderInsight',dir.absolutePath]" >Show Operations</button>
                        </td>
                     </div>
                     <div *ngIf="dir.isDirectoryType==false">
                        <td>
                            <button type="button" [routerLink]="['/openContent',dir.absolutePath]" >Open Content</button>
                        </td>
                     </div>
                     <th>{{dir.size}}</th>
                     <th>{{dir.creationDate | date: 'dd/MM/yyyy'}}</th>
                     <th>{{dir.lastModifiedDate | date: 'dd/MM/yyyy'}}</th>
                     <th>{{dir.noOfChars}}</th>
                     <th>{{dir.noOfWords}}</th>
                     <th>{{dir.noOfLines}}</th>
                  </tr>
            </tbody>
        </table>
    </h3>
</div>